.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    
  }
.pesquisa{
  width: min-content;
  font-size: large;
  background-color: #c5a34b;
}
.container{
  background-color: #192f42  ;
  padding-bottom: 10px;
}
